<html>
<body>
	<form action="/UserCreate" method="post">
		Username: <input type="text" name="userId" required><br>
		Password: <input type="password" name="password" required><br>
	<input type="submit" value="Create">
	</form>
	<a href="/login"><button>Back</button></a>
</body>
</html>