<html>
<body>
	<div class="content">
		<form action="/UserCreate" method="post">
			<table style="width:10em">
				<tr>
					<td>Username</td>
					<td><input type="text" name="userId" required></td>
				</tr>
				<tr>
					<td>Password</td>
					<td><input type="password" name="password" required></td>
				</tr>
				<tr>
					<td><input type="submit" value="Create User"></td>
					<td><a href="/">Back</a></td>
				</tr>
				<tr>
				
				</tr>
			</table>
		</form>
	</div>
</body>
</html>