<html>
<body>
	<form action="/CreateUser" method="post">
		Username: <input type="text" name="userId"><br>
		Password: <input type="password" name="password"><br>
	<input type="submit" value="Login">
	</form>
<button><a href="/">Create</a></button>
</body>
</html>