<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home.css">
	</head>
	<body>
		<div class="navigation">
			<ul>
				<li><a href="/create">Create Restaurant </a></li>
				<li><a href="/search">Search</a></li>
				<li style="float:right"><a href="/logout">Logout</a></li>
			</ul>
		</div>
	</body>
</html>