<html>
<body>
	<form action="/login" method="post">
		Username: <input type="text" name="userId" required><br>
		Password: <input type="password" name="password" required><br>
	<input type="submit" value="Login">
	</form>
	<a href="/createUser"><button>Sign up</button></a>

</body>
</html>