<html>
	<head>
		<link rel="stylesheet" type="text/css" href="home.css">
		<title>Login</title>
	</head>
	<body>
		<div class="content">
			<form action="/login" method="post">
				<table style="width:10em">
					<tr>
						<td>Username</td>
						<td><input type="text" name="userId" required></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" name="password" required></td>
					</tr>
					<tr>
						<td><input type="submit" value="Login"></td>
						<td><a href="/createUser">Sign up</a></td>
					</tr>
					<tr>
						<td colspan="2"><%=err %></td>
					</tr>
				</table>
			</form>
		</div>
	</body>
</html>