.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navigation li {
    float: left;
}

.navigation a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navigation a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
    color: white;
}

table {
    border-collapse: collapse;
    width: 80%;
	 margin: 0 auto;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
	text-align:center;
}

.content{
	text-align:center;
	width:100%;
}